@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: Arial, Helvetica, sans-serif; /* 웹 안전 폰트 지정 */
  --foreground-rgb: 255, 255, 255;
  --background-color: 255, 255, 255; /* Set to plain white */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
